*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #1f242d;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-img img{
    padding: 5 5 20px;
    max-width:500px;
    margin-right: -20px;
    
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -5px 0;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content p{
    font-size: 16px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;

}
 .social-media :hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
 }

 .btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
 }

 .btn:hover{
    box-shadow: none;
 }

 .about{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background-color: #323946;
}

.about-content{
    max-width: 600px;
}

 .about-img img{
    width: 35vw;
 }

 .heading{
    text-align: center;
    font-size: 56px;
 }

 .about-content h2{
    text-align: left;
    line-height: 1.2;
 }

 .about-content h2 span{
    color: #0ef;
 }
  .about-content h3{
    font-size: 32px;
  }
  .about-content p{
    font-size: 16px;
    margin: 2rem 0 3rem;
  }

  .services {
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 70px 10% 0;
   }
   
   .heading {
    text-align: center;
    font-size: 56px;
    margin-bottom: 5rem;
}

.heading span {
    color: #0ef;
}

.skill-container{
    display: flex;
    justify-content: space-around;
}

.item{
    width: 20%;
    padding: 50px;
    line-height: 2rem;
    border-style: solid;
    border-color: #0ef;
    border-radius: 2rem;
    background-color: #323946;
    
}
.item h3{
    color: #0ef;
    line-height: 2rem;
}

.projects{
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 70px 10% 0;
    background-color: #323946;
}


.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 70px 10% 0;
    background-color: #1f242d;
}

.contact-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 65%;
    flex-direction: column;
    width: 80%;
    padding: 100px;
    line-height: 2rem;
    border-style: solid;
    border-color: #0ef;
    background-color: #323946;
}

.project-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    align-content: center;
}

.card{
    height: 350px;
    border:medium;
    border-style: solid;
    border-radius: 2%;
    border-color: #0ef;
    background-color: #1f242d;
}


.card-img-top{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body{
    margin-top: 50px;
 }


.btn1{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
    margin-left: 30%;
    margin-top: 15%;
}

.btn1:hover{
    box-shadow: none;
 }









